# -*- conf -*-
\#*#
.#*
*~
*.bak
*.tmp

# Subrepos.
/bitcoin/
/cv/
/dict/
/emtre/
/fingerfonetik/
/freesans-swl/
/langtree/
/lyricx/
/mat/
/name/
/nerd/
/new-piqad/
/poly/
/programs/
/ref/
/sc-day/
/songs/
/st6/
/teckenskrift/
/teckentranskription/
/tenth-rate-movie/
/toki-pona-syllabics/
/tsplex/

#[eof]
