# -*- conf -*-
\#*#
.#*
*~
*.bak
*.tmp

# Subrepos.
/bitcoin/
/cv/
/dict/
/emtre/
/fingerfonetik/
/freesans-swl/
/langtree/
/lyricx/
/teckenskrift/
/teckentranskription/
/toki-pona-syllabics/
/tsplex/

#[eof]
