# -*- conf -*-
\#*#
.#*
*~
*.bak
*.tmp

# Subrepos.
/3d-hand/
/automata/
/baremark/
/bitcoin/
/cv/
/dict/
/elemental/
/emtre/
/fingerfonetik/
/firefox/
/freesans-swl/
/langtree/
/lyricx/
/mat/
/my-domain-setup/
/name/
/nerd/
/new-piqad/
/ocring/
/poly/
/programs/
/quotecurl/
/ref/
/rewin/
/rong/
/sc-day/
/sign-language-writing/
/songs/
/st6/
/tabcryo/
/teckenskrift/
/teckentranskription/
/tenth-rate-movie/
/test/
/thesis/
/toki-pona-syllabics/
/tree/
/www/

#[eof]
